<!-- Loop over each object in the projects array -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href=".css">
    <title>Welcome Page</title>
</head>

<body>
    <div class="container">
        <div class="login-signup">
            <a href="login.handlebars" class="btn btn-primary btn-login">Login</a>
            <a href="login.handlebars" class="btn btn-success btn-signup">Sign Up</a>
        </div>

        <h1 class="welcome-text">Welcome</h1>
        <p>
            Tips.
        </p>

        <div class="text-center mt-4">
            <h2>About Us</h2>
            <p>
                Bio and so on
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>