

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
    <title>Tips</title>
</head>

{{!-- <body class="bg-cover bg-center bg-fixed" style="background-image: url('https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg')"> --}}

    <div class="container py-5">
    <div class="login-signup">
      <!-- <a href="login" class="btn btn-primary btn-login">Login</a>
            <a href="#" class="btn btn-success btn-signup">Sign Up</a> -->
    </div>

    <h1 class="welcome-text mt-4">Welcome To Tips</h1>

    <div class="text-center mt-4">
      <h2>About Us</h2>
      <p class="px-30">
        Tips simplifies the financial tracking process for rideshare and delivery drivers. Users can effortlessly input their wages, tips, gas, and maintenance expenses, allowing Tips to generate a comprehensive overview of their earnings. The application not only presents a daily breakdown but also enables easy comparison of expenses between different days and years. With Tips, drivers gain valuable insights into their financial performance, empowering them to make informed decisions about their income and expenses.
      </p>
    </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>